:root {
   --color-bg: rgb(40, 40, 40);
   --color-fg: rgb(80,80,80);
   --color-hv: rgb(120,120,120);
   --color-txt: rgb(230,230,230);
}

* {
   box-sizing: border-box;
   margin-top: 0px;
   font-family: Verdana, Helvetica, sans-serif;
}

body {
   font-size: 20px;
   color: var(--color-txt);
}

.mainContainer {
   position: absolute;
   top:  50%;
   right: 0%;
   transform: translate(0%, -50%);
}

.container {
   width: 24em;
   padding: 0.5em;
   margin: 0.5em;
   align-items: center;
   background-color: var(--color-bg);
   opacity: 0.95;
   border-radius: 0.25em;
}

.tuneContainer { 
   display: grid;
   grid-template-columns: .5fr 1fr 1fr .5fr;
   grid-template-rows: auto;
   column-gap: 0.5em;
   row-gap: 0.5em;
}

.item {
   text-align: left;
   justify-self: stretch;
}

.double {
   grid-column: span 2;
}

.tripple {
   grid-column: span 3;
}

.quadro {
   grid-column: span 4;
}

input {
   width: 100%;
   height: 1.5em;
   font-size: 1em;
   text-align: center;
   color: var(--color-txt);
   background-color: var(--color-fg);
   border: .1em solid var(--color-fg) ;
   border-radius: .25em;
}

input:hover { outline-color: var(--color-hv); background-color: var(--color-hv); }
input:focus { outline-color: var(--color-hv); background-color: var(--color-hv); }
input:active { outline-color: var(--color-hv); background-color: var(--color-hv); }

button {
   font-size: 0.8em;
   padding: 0.2em 0.6em;
   text-align: right;
   color: var(--color-txt);
   background-color: var(--color-fg);
   border: .1em solid var(--color-fg);
   border-radius: .25em;
}

button:hover { border-color: var(--color-hv); background-color: var(--color-hv); }
button:focus { border-color: var(--color-hv); background-color: var(--color-hv); }
button:active { border-color: var(--color-hv); background-color: var(--color-hv); }

select, textarea {
   width: 100%;
   text-align: left;
   color: var(--color-txt);
   background-color: var(--color-bg);
   border: .1em solid var(--color-fg);
   border-radius: .25em;
}


.dropdown {
   position: relative;
   background: var(--color-fg);
   color: var(--color-txt);
   font-size: .8em;
   padding: 0.2em 0.6em;
   transition: 0.5s;
   border-bottom: .25em solid transparent;
   text-align: left;
}

.dropdown:hover,
.dropdown.active{
   border-bottom: .25em solid var(--color-txt);
   cursor: pointer;
}

.dropdown-menu {
   z-index: 150;
   position: absolute;
   background: var(--color-fg);
   font-size: 1em;
   padding: 0.25em;
   top: calc(100% + .25em);
   left:0;
   right:0;
   margin: 0;
   max-height: 16em;
   overflow: auto;
}

.dropdown-item {
   transition: 0.5s;
}

.dropdown-item:hover {
   background: var(--color-hv);
}

.titel {
   overflow: hidden;
}